fastapi
sqlalchemy
psycopg2
uvicorn
pydantic[email]
pydantic[dotenv]
python-jose
passlib
emails
python-multipart
celery[redis]
alembic
tenacity
bcrypt
jinja2
pytest
httpx
websockets
flower
redis
tensorflow